meta/.turbo

meta/node_modules

meta/apps/http/node_modules

meta/apps/http/dist

meta/apps/http/.turbo

meta/apps/websocks/dist

meta/apps/websocks/node_modules

meta/packages/db/dist

meta/packages/db/node_modules

meta/packages/db/.env

tests/node_modules